body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

header{
    margin: 0px;
    display: grid;
    grid-template-areas: 'text image';
    grid-template-rows: 78vh;
    grid-template-columns: 30vw 30vw; 

    background-image: url("projetoNotify-master/img/banner.png");
    border-top: 10px solid #2ecc71;
    background-repeat: no-repeat;
    background-size: 100vw;
}


/* #informacoes-banner{
    grid-area: text;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

#imagem-banner{
    grid-area: image;
    background-image: url("projetoNotify-master/img/hand.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: antiquewhite;
}


.plataforms a{
    background-color: aliceblue;
}

 */



h1{
    margin: 0;
}

#informations{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

#informations img{
    width: 87px;
}

.informations{
    width: 300px;
    text-align: center;
    padding: 10px;

}

p{
    color: gray;
    font-size: 14px;
}

#jumbotron{
    background-color: rgb(207, 207, 207);
    margin-top: 15px;
    padding: 40px 80px 80px 60px;
    display: flex;
    justify-content: space-around;
}

#jumbotron div{
    width: 40%;
}


input[type="text"]{
    width: 260px;
    height: 45px;
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgb(201, 201, 201);
    float: left;
    padding-left: 10px;
    font-size: 12pt;
}

input[type="submit"]{
    width: 120px;
    height: 48px;
    border-radius: 0px 10px 10px 0px;
    background-color: #2ecc71;
    color: white;
    border: none;
    float: left;
    font-size: 20px;
}
